body {
  background-color:  black;
  color: white;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  height: 100%;
  overflow: hidden
}

canvas {
  position: absolute;
  margin: auto;
  left: 0px;
  right:  0px;
}
