html, body {
  background-color:  black;
  color: white;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden
}

#container {
  height: 100%;
  width: 100%;
}

.canvas-ui {
  position: absolute;
  margin: auto;
  left: 0px;
  right:  0px;
}

#anal {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}
/*
@media (max-width: 500px) {
  .anal {
    left: 0px;
    right: 0px;
    width: 100%;
    height: 50%;
  }
}*/
